<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
</head>
<body>
    <div class="container">
      <h1>Country Info</h1>
      
          <h1>Add Country</h1>
          <form>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">assistant_photo</i>
                <input id="country_name" type="text" class="validate">
                <label for="country_name">Country</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">face</i>
                <input id="Population" type="text" class="validate">
                <label for="Population">Population</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">attach_money</i>
                <input id="gdp" type="text" class="validate">
                <label for="gdp">GDP</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
    </div>
</body>
</html>